{% extends "MediaApp/index.html" %}
{% block show_generic_list %}
<span vocab="http://schema.org/" typeof="Restaurant">
<h3>Group: </h3>
<h3><span property="name">{{ group.name }}</span></h3>

<div style="margin-left:20px;margin-top:20px">
  <h5>Songs</h5>
  {% for song in group.song_set.all %}
    <div class="">
      <!--a class="list-group-item list-group-item-action" href="{{ song.url_info }}">{{ song.name }}</a-->
      <a class="list-group-item list-group-item-action" href="{% url 'song_info' song.pk %}">{{ song.name }}</a>
    </div>
  {% endfor %}
</div>

{% endblock %}
