{% extends "MediaApp/base.html" %}
{% block body_block %}

<div class="">
  <h6>This is the home page</h6>
  <h6>Here a list and a filter will be shown</h6>
  <h6>And maybe other features in the future like news, updates, etc</h6>
  <h6>You can play with the above buttons:</h6>
  <h6>Register, login, logout, go to your profile...</h6>
  <h6>Or you can use the list below to see our "Database"</h6>
  <div class="dropdown-divider"></div>
</div>
<div class="">
  {% block show_generic_list %}
  <a href="{% url 'Group' %}"><h3>Groups</h3></a>
  {% endblock %}
</div>

{% endblock %}
