{% extends "MediaApp/base.html" %}
{% block body_block %}

<div class="">
  <h3>This is the home page</h3>
  <h3>Here a list and a filter will be shown</h3>
  <h3>And maybe other features in the future like news, updates, etc</h3>
  <h4>You can play with the above buttons:</h4>
  <h4>Register, login, logout, go to your profile...</h4>
  <h4>Or you can use the list below to see our "Database"</h4>
  <div class="dropdown-divider"></div>
</div>
<div class="">
  {% block show_generic_list %}
  <a href="{% url 'Director' %}"><h1>Directors</h1></a>
  <a href="{% url 'Group' %}"><h1>Groups</h1></a>
  {% endblock %}

</div>

{% endblock %}
