{% extends "MediaApp/base.html" %}
{% block body_block %}
<div class="jumbotron">
  <div id="add_content">

    <input type="radio" name="model" value="group"> Add Group <br>
      <div id="add_group">
        <form method="post">
          {% csrf_token %}
          {{ group_form.as_p }}
          <input type="submit" class="btn btn-primary btn_submit" value="Save">
        </form>
      </div>

    <input type="radio" name="model" value="song"> Add Song <br>
      <div id="add_song">
        <form method="post">
          {% csrf_token %}
          {{ song_form.as_p }}
          <input type="submit" class="btn btn-primary btn_submit" value="Save">
        </form>
      </div>
  </div>
</div>
{% endblock %}
