{% extends "MediaApp/index.html" %}
{% block show_generic_list %}
<h3><b>Song:</b> <i>{{ song.name }}</i> </h3>
<h4><b>Artits:</b> <i>{{song.group}}</i> </h4>
<h4><b>Release date:</b> <i>{{song.release_date}}</i> </h4>
<h4><b>Album:</b> <i>{{song.album}}</i> </h4>
<h4><b>Description:</b> <i>{{song.description}}</i> </h4>
<h4><b>Genre:</b> <i>{{song.genre}}</i> </h4>
<a href={{song.url_info}}><h4>URL to iTunes</h4> </a>
{% for song_comment in comments %}
    <strong>{{ song_comment.user }}</strong>
    <p>{{ song_comment.content }}</p>
    <a class="btn btn-default" href="{% url 'delete_comment' pk=song_comment.pk %}" style="float: right;">Delete comment</a>
{% empty %}
  <p>No comments here yet :(</p>
{% endfor %}
<a href="" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Add Comment</a>
{% endblock %}
