{% extends "MediaApp/index.html" %}
{% block show_generic_list %}
<h3><b>Song:</b> <i>{{ song.name }}</i> </h3>
<h4><b>Artits:</b> <i>{{song.group}}</i> </h4>
<h4><b>Release date:</b> <i>{{song.release_date}}</i> </h4>
<h4><b>Album:</b> <i>{{song.album}}</i> </h4>
<h4><b>Description:</b> <i>{{song.description}}</i> </h4>
<h4><b>Genre:</b> <i>{{song.genre}}</i> </h4>
<a href={{song.url_info}}><h4>URL to iTunes</h4> </a>

<p>Rating:</p>
<div class="container">
        <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
        </div>
         <input type="submit" value="Rate" />
  </div>
</p>

{% for song_comment in comments %}
    <strong>{{ song_comment.user }}</strong>
    <p>{{ song_comment.content }}</p>
    <a class="btn btn-default" href="{% url 'delete_comment' pk=song_comment.pk %}" style="float: right;">Delete comment</a>
{% empty %}
  <p>No comments here yet :(</p>
{% endfor %}
<a href="" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Add Comment</a>
{% endblock %}
